/* CSS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    line-height: 1.5;
}

   

@keyframes gradient-animation {
 0% {
        background-position: 0% 50%;
    }
 100% {
        background-position: 100% 50%;
    }
}

header {
    background-color: #0F52BA;
    color: white;
    text-align: center;
    padding: 20px;
}

hr {
    margin: 20px auto; /* Adjust margin for spacing */
    width: 50%; /* Reduce the width of the <hr> */
    border: none; /* Remove the default border */
    border-top: 1px solid #C8C8C8; /* Add a top border to create the line effect */
}


header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

.company-history{
    text-align: left;
    margin-left: 20px;
}

.company-history p {
    text-align: left; 
    max-width: 1700px;
    margin: 0 auto;
    margin-left: 30px;
}

.company-history p,
.company-values li,
.mission-vision p {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mission-vision{
 text-align: center;
}

.company-values {
    text-align: center;
     
}

.company-values ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.company-values li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px; 
    margin-right: 30px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    cursor: pointer; /* Add an cursor pointer for interactivity */
    transition: background-color 0.3s ease; 
}

.company-values li h3 {
    margin-bottom: 20px;
    margin-top: 50px;
}

.company-values li p {
    margin-top: 10px; 
    text-align: center; 
}

.company-values li:hover {
    background-color: #90E0EF;
    transition: background-color 0.3s ease; 
}



.company-values li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px; 
    height: 100%;
    width: 1px;
    background-color: #C8C8C8;
}
.company-history hr,
.company-values hr,
.mission-vision hr {
    width: 50%; 
    border: none; 
    border-top: 1px solid #ccc; 
}

footer {
    background-image: linear-gradient(to right, #0000ff, #333d9b, #7e7fc7);
    animation: gradient-animation 10s ease infinite alternate;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

.mission-vision {
    text-align: center; /* Center-align the text */
    margin-bottom: 40px;
}

.mission-vision p {
    max-width: 800px; /* Set a maximum width for the paragraph */
    margin: 0 auto; /* Center the paragraph */
}

