body {
  font-family: 'Poppins', sans-serif;
  
}



header p {
  margin-left: 60px;
  font-size: 20px;
}

.top {
  padding-top: 20px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes pulse-animation {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.05);
  }
}

.top button {
  margin-right: 60px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  color:#ffffff;
  background-color: blue;
}

.top button:hover {
  background-color: #66686d; 
  transform: scale(1.1);
  color: #fff; /* Change text color on hover */
  transition: background-color 0.3s ease, color 0.3s ease;
}
@keyframes run-text {
  0% {
      transform: translateY(10%);
  }
  1% {
      transform: translateX(50%);
  }
  
}

.mid-text {
  text-align: center;
  padding-top: 50px; /* Adjust this value to add more top padding */
  
}

.mid-text p {
  animation: pulse-animation 1s infinite alternate;
  font-size: 48px; /* Adjust the font size as needed */
  font-weight: bold;
}

.innermid-text {
  font-size: 24px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  position: relative;
  animation: run-text 30s ease infinite;
  background-color: #66686d;
  color: #fff;
}

.cards-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.cards-container :hover{
  background-color: #0000ff;
}

.card {
  width: 300px;
  height: 250px;
  background-color: #150e57;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffFFFF;
}


.card h3 {
  background-color: #0000ff;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: auto; /* Push h3 to the top */
}
.card P {
  margin-bottom: 80pX;
}

.separator {
  border-left: 2px solid #ccc;
  height: 250px;
  margin: 20px;
}