body {
  
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;;
 
}

.heading{
  font-size: 3rem;
  width: max-content;
}

#waitlist-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

#waitlist {
  list-style-type: none;
  padding: 0;
}

thead{
  background-color: #2586d0;
}

table{
  border-collapse: collapse;
  position: sticky;
  width: 100%;
  table-layout: fixed;
  border-radius: 4px;
  border: 3px solid #f3f4f6;
}

#nowserving-table th {
  
  padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  
}

#nowserving-table td{
  color: black;
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  margin: 100px;
  /* vertical-align: middle; */
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


#waitlist-table{
  
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
  align-self: center;
}


#waitlist-table th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  
}

#waitlist-table td{
  background-color: white;
  border: 1px solid black;
}

tbody{
  background-color: white;
  width: 70%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

#waiting{
  border: solid;
  background-color: #C8C8C8;
  color: black;
}

#serving{
  border: solid;
  background-color: #90E0EF;
  color: black;
}